{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'ui/style.css' %}" />
    </head>
    <body>
        <h1 class="mainTitle">IEE3032 - PRAUAS</h1>
        <h2 class="mainTitle">By: Daniel Wiratman (202000205)</h2>
        <div class="container">
            <div class="box">
                <h1>PABRIK 1: Smart Farm</h1>
                <h2>SUBSISTEM 1: Susu Hewani dan Telur</h2>
                <p>Sensor Kadar Protein Susu</p>
                <p><span id="subsistem1-kadarproteinsusu"></span> g</p>
                <p>Sensor Kekentalan Susu</p>
                <p><span id="subsistem1-kekentalansusu"></span> cP</p>
                <p>Sensor Jumlah Kuning Telur</p>
                <p><span id="subsistem1-jumlahkuningtelur"></span> butir</p>
                
                <h2>SUBSISTEM 2: Daging Merah</h2>
                <p>Sensor Kemerahan Daging</p>
                <p><span id="subsistem2-kemerahandaging"></span> a*</p>
                <p>Sensor Kadar Lemak</p>
                <p><span id="subsistem2-kadarlemak"></span>%</p>
                <p>Sensor Kadar Air</p>
                <p><span id="subsistem2-kadarair"></span>%</p>
                
                <h2>SUBSISTEM 3: Daging Putih</h2>
                <p>Sensor Microbacteria</p>
                <p><span id="subsistem3-microbacteria"></span> mg/kg</p>
                <p>Sensor Kadar Protein</p>
                <p><span id="subsistem3-kadarprotein"></span>%</p>
                <p>Sensor Keasaman Daging</p>
                <p><span id="subsistem3-keasamandaging"></span> ph</p>
            </div>
            <div class="box">
                <h1>PABRIK 2: Smart Plantation</h1>
                <h2>SUBSISTEM 1: Sumber Karbohidrat</h2>
                <p>Sensor Kekuningan Padi</p>
                <p><span id="subsistem1-kekuninganpadi"></span> g</p>
                <p>Sensor Kebulatan Padi</p>
                <p><span id="subsistem1-kebulatanpadi"></span> cP</p>
                <p>Sensor Kadar Karbohidrat</p>
                <p><span id="subsistem1-kadarkarbohidrat"></span> butir</p>
                
                <h2>SUBSISTEM 2: Sayuran</h2>
                <p>Sensor Kehijauan</p>
                <p><span id="subsistem2-kehijauan"></span> a*</p>
                <p>Sensor Kadar Klorofil</p>
                <p><span id="subsistem2-kadarklorofil"></span>%</p>
                <p>Sensor Amonia</p>
                <p><span id="subsistem2-amonia"></span>%</p>
                
                <h2>SUBSISTEM 3: Buah-Buahan</h2>
                <p>Sensor Etilen</p>
                <p><span id="subsistem3-etilen"></span> mg/kg</p>
                <p>Sensor Kadar Gula</p>
                <p><span id="subsistem3-kadargula"></span>%</p>
                <p>Sensor Kepadatan</p>
                <p><span id="subsistem3-kepadatan"></span> ph</p>
            </div>
            <div class="box">
                <h1>PABRIK 3: Smart Restaurant</h1>
                <h2>SUBSISTEM 1: Deteksi Musim</h2>
                <p>Sensor Suhu</p>
                <p><span id="subsistem1-suhu"></span> g</p>
                <p>Sensor Arah Angin</p>
                <p><span id="subsistem1-arahangin"></span> cP</p>
                <p>Sensor Curah Hujan</p>
                <p><span id="subsistem1-curahhujan"></span> butir</p>
                
                <h2>SUBSISTEM 2: Deteksi Hasil Penjualan Berfluktuasi</h2>
                <p>Sensor Penghitung Kasir Idle</p>
                <p><span id="subsistem2-kasiridle"></span> a*</p>
                <p>Sensor Rate Penjualan</p>
                <p><span id="subsistem2-ratepenjualan"></span>%</p>
                <p>Sensor Jumlah Pembayaran</p>
                <p><span id="subsistem2-jumlahpembayaran"></span>%</p>
                
                <h2>SUBSISTEM 3: Deteksi Jumlah Pengunjung Restoran</h2>
                <p>Sensor Penghitung Water Idle</p>
                <p><span id="subsistem3-waiteridle"></span> mg/kg</p>
                <p>Sensor Okupansi Restoran</p>
                <p><span id="subsistem3-okupansirestoran"></span>%</p>
                <p>Sensor Stok Piring</p>
                <p><span id="subsistem3-stokpiring"></span> ph</p>
            </div>
        </div>
        <script>
            function updateView(data) {
              document.querySelector('#subsistem1-kadarproteinsusu').innerHTML = data.pabrik1.subsistem1.kadarproteinsusu;
              document.querySelector('#subsistem1-kekentalansusu').innerHTML = data.pabrik1.subsistem1.kekentalansusu;
              document.querySelector('#subsistem1-jumlahkuningtelur').innerHTML = data.pabrik1.subsistem1.jumlahkuningtelur;
              document.querySelector('#subsistem1-kekuninganpadi').innerHTML = data.pabrik2.subsistem1.kekuninganpadi;
              document.querySelector('#subsistem1-kebulatanpadi').innerHTML = data.pabrik2.subsistem1.kebulatanpadi;
              document.querySelector('#subsistem1-kadarkarbohidrat').innerHTML = data.pabrik2.subsistem1.kadarkarbohidrat;
              document.querySelector('#subsistem1-suhu').innerHTML = data.pabrik3.subsistem1.suhu;
              document.querySelector('#subsistem1-arahangin').innerHTML = data.pabrik3.subsistem1.arahangin;
              document.querySelector('#subsistem1-curahhujan').innerHTML = data.pabrik3.subsistem1.curahhujan;
              document.querySelector('#subsistem2-kemerahandaging').innerHTML = data.pabrik1.subsistem2.kemerahandaging;
              document.querySelector('#subsistem2-kadarlemak').innerHTML = data.pabrik1.subsistem2.kadarlemak;
              document.querySelector('#subsistem2-kadarair').innerHTML = data.pabrik1.subsistem2.kadarair;
              document.querySelector('#subsistem2-kehijauan').innerHTML = data.pabrik2.subsistem2.kehijauan;
              document.querySelector('#subsistem2-kadarklorofil').innerHTML = data.pabrik2.subsistem2.kadarklorofil;
              document.querySelector('#subsistem2-amonia').innerHTML = data.pabrik2.subsistem2.amonia;
              document.querySelector('#subsistem2-kasiridle').innerHTML = data.pabrik3.subsistem2.kasiridle;
              document.querySelector('#subsistem2-ratepenjualan').innerHTML = data.pabrik3.subsistem2.ratepenjualan;
              document.querySelector('#subsistem2-jumlahpembayaran').innerHTML = data.pabrik3.subsistem2.jumlahpembayaran;
              document.querySelector('#subsistem3-microbacteria').innerHTML = data.pabrik1.subsistem3.microbacteria;
              document.querySelector('#subsistem3-kadarprotein').innerHTML = data.pabrik1.subsistem3.kadarprotein;
              document.querySelector('#subsistem3-keasamandaging').innerHTML = data.pabrik1.subsistem3.keasamandaging;
              document.querySelector('#subsistem3-etilen').innerHTML = data.pabrik2.subsistem3.etilen;
              document.querySelector('#subsistem3-kadargula').innerHTML = data.pabrik2.subsistem3.kadargula;
              document.querySelector('#subsistem3-kepadatan').innerHTML = data.pabrik2.subsistem3.kepadatan;
              document.querySelector('#subsistem3-waiteridle').innerHTML = data.pabrik3.subsistem3.waiteridle;
              document.querySelector('#subsistem3-okupansirestoran').innerHTML = data.pabrik3.subsistem3.okupansirestoran;
              document.querySelector('#subsistem3-stokpiring').innerHTML = data.pabrik3.subsistem3.stokpiring;
            }

            function getData() {
                fetch(`http://${window.location.host}/api/sensor/`)
                    .then((res) => res.json())
                    .then((data) => updateView(data));
            }

            setInterval(function () {
                const e = getData();
            }, 1000);
        </script>
    </body>
</html>

